<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670515401029-5sr4h281rlf53b0k04erirfepr5s6ao3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670515401029-5sr4h281rlf53b0k04erirfepr5s6ao3</string>
	<key>API_KEY</key>
	<string>AIzaSyBV8TpQaL0GShDBGGTmGWadPtvXtSUiL4A</string>
	<key>GCM_SENDER_ID</key>
	<string>670515401029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frcchallengeapp</string>
	<key>PROJECT_ID</key>
	<string>frc-challenge-app</string>
	<key>STORAGE_BUCKET</key>
	<string>frc-challenge-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670515401029:ios:a5a4c1e4337a50c0ac2e2c</string>
</dict>
</plist>